* {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    color: #211e18;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #211e18;
    
    &:focus {
        outline: none;
    }
}

::selection {
    background-color: #211e18;
    color: white;
}

li { 
    list-style-type: none; 
}

dl {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: #211e18;
}

img {
    width: 100%;
    max-width: 1216px;
    margin: auto;
    display: block;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}